clamd==1.0.2
flask>=1.1.2
raven==6.10.0
passlib==1.7.4
Flask-HTTPAuth==4.2.0
Werkzeug==2.0.2
gunicorn==20.0.4
blinker==1.4
dnspython==2.1.0
ecs_logging==1.1.0

# required for tests
requests==2.25.1
Flask-Testing==0.8.1
locust
