clamd==1.0.2
flask==3.0.0
raven==6.10.0
passlib==1.7.4
Flask-HTTPAuth==4.8.0
Werkzeug>=3.0.3
gunicorn==21.2.0
blinker==1.6.3
dnspython>=2.6.1
ecs_logging==2.1.0

# required for tests
requests>=2.32.0
Flask-Testing==0.8.1
locust==2.17.0
