version: 2.1
jobs:
  build:
    docker:
      - image: cimg/python:3.12.5
      - image: gcr.io/sre-docker-registry/github.com/uktrade/docker-clamav:master
        environment:
          MIRROR_URL: db.local.clamav.net
    steps:
      - checkout
      
      - restore_cache:
          keys:
            - pip-dependencies-v2-{{ checksum "requirements.txt" }}

      - run:
          name: install dependencies
          command: |
            pip install -r requirements.txt

      - run:
          name: Wait up to 120 seconds for clamav container to start
          command: |
            for i in `seq 1 120`;
            do
              nc -z localhost 3310 && echo Success && exit 0
              echo -n .
              sleep 1
            done
            echo clamav container never arrived && exit 1

      - run:
          name: Wait for clamav to be ready
          command: |
            for i in `seq 1 20`;
            do
                result=$(echo "PING" | nc 127.0.0.1 3310)

                if [ "$result" == "PONG" ]; then
                    echo $result
                    exit 0
                fi

                echo -n .
                sleep 1
            done
            echo Failed waiting for clamav && exit 1

      - save_cache:
          paths:
            - venv
          key: pip-dependencies-v2-{{ checksum "requirements.txt" }}

      - run:
          name: Run unit tests
          command: |           
            APP_CONFIG=config.CircleCiConfig python -m unittest tests.py -f
